body {
    margin: 0;
    padding: 0;
}

button {
    font-size: 1em;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 5em;
    border: none;
    border-radius: 2px;
    margin: 5px;
}

.count {
    font-size: 2em;
    padding: 1em;
}

.reset {
    background-color: #ff0000;
}